<h1>Coderetreat for Girls #2 Pairing</h1>
<div id="description">
  ランダムにペアプログラミングの組を作ります
</div>
<table>
<% @pairs.each do |pair| %>
  <tr>
    <td><%=pair[0]%></td><td><%=pair[1]%></td>
  </tr>
<% end %>
</table>

