<h1>Coderetreat for Girls #2 Pairing</h1>
<div id="description">
  ランダムにペアプログラミングの組を作ります
</div>

<%= form_tag '/pairings/index', method: :get do %>
  参加者数: <%= text_field_tag :number  %>
  <%= submit_tag "Pairing" %>
<% end %>
<table>
<% @pairs.each do |pair| %>
  <tr>
  <% pair.each do |p| %>
    <td><%= p %></td>
  <% end %>
  </tr>
<% end %>
</table>

